<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>ex2</display-name>
    <servlet-name>ex2</servlet-name>
    <servlet-class>com.lista.ex2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex2</servlet-name>
    <url-pattern>/ex2</url-pattern>
  </servlet-mapping>
  <display-name>Aula 2 - Lista</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ex1</display-name>
    <servlet-name>ex1</servlet-name>
    <servlet-class>com.lista.ex1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex1</servlet-name>
    <url-pattern>/ex1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ex3</display-name>
    <servlet-name>ex3</servlet-name>
    <servlet-class>com.lista.ex3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex3</servlet-name>
    <url-pattern>/ex3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ex4</display-name>
    <servlet-name>ex4</servlet-name>
    <servlet-class>com.lista.ex4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ex4</servlet-name>
    <url-pattern>/ex4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex5</display-name>
    <servlet-name>Ex5</servlet-name>
    <servlet-class>com.lista.Ex5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex5</servlet-name>
    <url-pattern>/Ex5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex6</display-name>
    <servlet-name>Ex6</servlet-name>
    <servlet-class>com.lista.Ex6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex6</servlet-name>
    <url-pattern>/commentForm.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex7</display-name>
    <servlet-name>Ex7</servlet-name>
    <servlet-class>com.lista.Ex7</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex7</servlet-name>
    <url-pattern>/Ex7</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Ex8</display-name>
    <servlet-name>Ex8</servlet-name>
    <servlet-class>com.lista.Ex8</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Ex8</servlet-name>
    <url-pattern>/productForm.html</url-pattern>
  </servlet-mapping>
</web-app>